* {
  box-sizing: border-box;
}

.game{
  justify-content: center;
  align-items: center;
}
.button{
  background-color: #ffffff;
  color: darkblue;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 15px;
  padding: 5px;
  border: 2px solid darkblue;
  border-radius: 5px;
  box-shadow: 0 12px darkblue, 0 18px rgba(0, 0, 0, 0.4);
  font-size: 60px;
  width: 90px;
  height: 80px;
  cursor: pointer;
  position: relative;
  top: 0;
}
.disabled .button {
  cursor: default;
}
.disabled .button:hover {
  top: 0;
  background: #ffffff;
  color: darkblue;
  box-shadow: 0 12px darkblue, 0 18px rgba(0, 0, 0, 0.4);
}

.button.disabled {
  cursor: default;
}
.button.disabled:hover {
  top: 0;
  background: #ffffff;
  color: darkblue;
  box-shadow: 0 12px darkblue, 0 18px rgba(0, 0, 0, 0.4);
}

.button:hover {
  background-color: darkblue;
  color: #0e80b0;
  top: 4px;
  box-shadow: 0 8px darkblue, 0 14px rgba(0, 0, 0, 0.4);
}
.button:active {
  top: 8px;
  box-shadow: 0 4px darkblue, 0 10px rgba(0, 0, 0, 0.4);
}

.game {
  display: flex;
  flex-wrap: wrap;
}
.game-info {
  margin: 15px;
  color: darkblue;
  font-size: 20px;
}

.board > div {
  display: flex;
}
